// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Amlogic, Inc. All rights reserved.
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/power/txhd2-pd.h>
#include <dt-bindings/clock/txhd2-clkc.h>
#include <dt-bindings/clock/txhd2-aoclkc.h>
#include <dt-bindings/mailbox/amlogic,mbox.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/gpio/meson-txhd2-gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/pwm/meson.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/input/meson_ir.h>
#include <dt-bindings/iio/adc/amlogic-saradc.h>
#include "meson-ir-map.dtsi"
#include <dt-bindings/thermal/thermal.h>
#include <dt-bindings/hwspinlock/amlogic,hwspinlock.h>
#include <dt-bindings/reset/amlogic,meson-txhd2-reset.h>
/ {
	cpus:cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		CPU0:cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a55","arm,armv8";
			reg = <0x0>;
			enable-method = "psci";
//			cpu-idle-states = <&CPU_SLEEP_0 &SYSTEM_SLEEP_0>;
//			#cooling-cells = <2>;
//			clocks = <&clkc CLKID_CPU_CLK>,
//				<&clkc CLKID_CPU_DYN_CLK>,
//				<&clkc CLKID_SYS1_PLL>;
//			clock-names = "core_clk",
//				"low_freq_clk_parent",
//				"high_freq_clk_parent";
//			operating-points-v2 = <&cpu_opp_table1>;
			voltage-tolerance = <0>;
			clock-latency = <50000>;
			dynamic-power-coefficient = <230>;
		};

		CPU1:cpu@1{
			device_type = "cpu";
			compatible = "arm,cortex-a55","arm,armv8";
			reg = <0x1>;
			enable-method = "psci";
//			cpu-idle-states = <&CPU_SLEEP_0 &SYSTEM_SLEEP_0>;
//			#cooling-cells = <2>;
//			clocks = <&clkc CLKID_CPU_CLK>,
//				<&clkc CLKID_CPU_DYN_CLK>,
//				<&clkc CLKID_SYS1_PLL>;
//			clock-names = "core_clk",
//				"low_freq_clk_parent",
//				"high_freq_clk_parent";
//			operating-points-v2 = <&cpu_opp_table1>;
			voltage-tolerance = <0>;
			clock-latency = <50000>;
			dynamic-power-coefficient = <230>;
		};

		CPU2:cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a55","arm,armv8";
			reg = <0x2>;
			enable-method = "psci";
//			cpu-idle-states = <&CPU_SLEEP_0 &SYSTEM_SLEEP_0>;
//			#cooling-cells = <2>;
//			clocks = <&clkc CLKID_CPU_CLK>,
//				<&clkc CLKID_CPU_DYN_CLK>,
//				<&clkc CLKID_SYS1_PLL>;
//			clock-names = "core_clk",
//				"low_freq_clk_parent",
//				"high_freq_clk_parent";
//			operating-points-v2 = <&cpu_opp_table1>;
			voltage-tolerance = <0>;
			clock-latency = <50000>;
			dynamic-power-coefficient = <230>;
		};

		CPU3:cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a55","arm,armv8";
			reg = <0x3>;
			enable-method = "psci";
//			cpu-idle-states = <&CPU_SLEEP_0 &SYSTEM_SLEEP_0>;
//			#cooling-cells = <2>;
//			clocks = <&clkc CLKID_CPU_CLK>,
//				<&clkc CLKID_CPU_DYN_CLK>,
//				<&clkc CLKID_SYS1_PLL>;
//			clock-names = "core_clk",
//				"low_freq_clk_parent",
//				"high_freq_clk_parent";
//			operating-points-v2 = <&cpu_opp_table1>;
			voltage-tolerance = <0>;
			clock-latency = <50000>;
		};

		idle-states {
			entry-method = "arm,psci-0.2";
			CPU_SLEEP_0: cpu-sleep-0 {
					compatible = "arm,idle-state";
					arm,psci-suspend-param = <0x0010000>;
					local-timer-stop;
					entry-latency-us = <4000>;
					exit-latency-us = <5000>;
					min-residency-us = <10000>;
			};
			SYSTEM_SLEEP_0: system-sleep-0 {
					compatible = "arm,idle-state";
					arm,psci-suspend-param = <0x0000000>;
					entry-latency-us = <0x3fffffff>;
					exit-latency-us = <0x40000000>;
					min-residency-us = <0xffffffff>;
			};
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13 0xff08>,
				<GIC_PPI 14 0xff08>,
				<GIC_PPI 11 0xff08>,
				<GIC_PPI 10 0xff08>;
	};

	gic: interrupt-controller@fff01000 {
		compatible = "arm,cortex-a15-gic", "arm,cortex-a9-gic";
		#interrupt-cells = <3>;
		#address-cells = <0>;
		interrupt-controller;
		reg = <0xffc01000 0x1000>,
		      <0xffc02000 0x0100>;
		interrupts = <GIC_PPI 9 0xf04>;
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	secmon {
		compatible = "amlogic,secmon";
		memory-region = <&secmon_reserved>;
		in_base_func = <0x82000020>;
		out_base_func = <0x82000021>;
		inout_size_func = <0x8200002a>;
		reserve_mem_size = <0x00300000>;
	};

	optee {
		compatible = "linaro,optee-tz";
		method = "smc";
	};

	meson_suspend:pm {
		compatible = "amlogic, pm";
		status = "disabled";
		device_name = "aml_pm";
		extend_resume_reason;
		reg = <0xfe010288 0x4>, /*SYSCTRL_STATUS_REG2*/
			<0xfe0102dc 0x4>; /*SYSCTRL_STICKY_REG7*/
	};

	ram-dump {
		compatible = "amlogic, ram_dump";
		status = "disabled";
		reg = <0xFE0102D8  0x4>;
		reg-names = "SYSCTRL_STICKY_REG6";
		store_device = "data";
	};

	cma_shrinker: cma_shrinker {
		compatible = "amlogic, cma-shrinker";
		status = "disabled";
		adj  = <0 100 200 250 900 950>;
		free = <8192 12288 16384 24576 28672 32768>;
	};

	xtal: xtal-clk {
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "xtal";
		#clock-cells = <0>;
	};

	mailbox_pl: mhu@ff63c420 {
		status = "okay";
		compatible = "amlogic, meson_mhu_pl";
		reg = <0xff63c420 0x4>,   /*from ao sts registers */
		      <0xff63c428 0x4>,   /*to ao set registers */
		      <0xff63c430 0x4>,   /*to ao clr registers */
		      <0xfffc7400 0x400>;   /*to ao payload */
		interrupts = <0 211 1>,  /* ap Rev ao*/
			     <0 136 1>;  /* ap Send ao*/
		mbox-names = "ao_dev",
			     "ap_to_ao";
		#mbox-cells = <1>;
		mboxes = <&mailbox_pl 0>,
			 <&mailbox_pl 1>;
		mbox-nums = <2>;
		mbox-mb = <1>;
	};

	mbox_user: mbox-user@0 {
		status = "okay";
		compatible = "amlogic, meson-mbox-user";
		mbox-nums = <1>;
		mbox-names = "ree2aocpu";
		mboxes = <&mailbox_pl 1>;
		mbox-dests = <MAILBOX_AOCPU>;
	};

	cpuinfo {
		compatible = "amlogic, cpuinfo";
		status = "okay";
		cpuinfo_cmd = <0x82000044>;
	};

	arm_pmu {
		compatible = "arm,armv8-pmuv3";
		private-interrupts;
		interrupts = <GIC_SPI 137 IRQ_TYPE_LEVEL_HIGH>;
		reg = <0xff634680 0x4>;
		status = "disabled";
	};

	ddr_bandwidth {
		compatible = "amlogic,ddr-bandwidth-t5m";
		status = "disabled";
		reg = <0 0xfe036000 0 0x400
		       0 0xfe034000 0 0x400
		       0 0xfe0368a4 0 0x4>;
		freq_reg = <0xfe0348a4>;
		interrupts = <0 136 IRQ_TYPE_EDGE_RISING
			      0 140 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "ddr_bandwidth";
	};

	dmc_monitor {
		compatible = "amlogic,dmc_monitor-t5m";
		status = "disabled";
		reg = <0 0xfe036000 0 0x400
		       0 0xfe034000 0 0x400>;
		reg_base = <0xfe036000>;
		interrupts = <0 137 IRQ_TYPE_EDGE_RISING
			      0 141 IRQ_TYPE_EDGE_RISING>;
	};

	galcore {
		compatible = "amlogic, galcore";
		dev_name = "galcore";
		status = "disabled";
		//clocks = <&clkc CLKID_CTS_NNA_AXI_CLK>,
		//      <&clkc CLKID_CTS_NNA_CORE_CLK>,
		//      <&clkc CLKID_SYS1_PLL>;
		//clock-names = "cts_vipnanoq_axi_clk_composite",
		//      "cts_vipnanoq_core_clk_composite",
		//      "sys1_pll";
		//assigned-clocks =  <&clkc CLKID_SYS1_PLL>;
		assigned-clock-rates =  <1704000000>;
		interrupts = <0 59 4>;
		interrupt-names = "galcore";
		//power-domains = <&pwrdm PDID_T3_NNA>;
		reg = <0x0 0xfdb00000 0x0 0x40000
		      0x0 0xfe090000 0x0 0x2000
		      0x0 0xfe00c0a4 0x0 0x4
		      0x0 0xfe00c0a8 0x0 0x4
		      0x0 0xfe00c034 0x0 0x4
		      0X0 0xfe000220 0X0 0x4>;
		reg-names = "NN_REG","NN_SRAM","NN_MEM0",
		      "NN_MEM1","NN_RESET","NN_CLK";
		nn_power_version = <5>;
	};

	vrtc: rtc@0xff8000a8 {
		compatible = "amlogic,meson-vrtc";
		reg = <0xff8000a8 0x4>;
		status = "okay";
		mboxes = <&mailbox_pl 1>;
	};

	vcodec_dec {
		compatible = "amlogic, vcodec-dec";
		dev_name = "aml-vcodec-dec";
		status = "disabled";
	};

	aml_reboot {
		compatible = "aml, reboot";
		sys_reset = <0x84000009>;
		sys_poweroff = <0x84000008>;
		dis_nb_cpus_in_shutdown;
		reg = <0xff80023c 0x4>; /* SEC_AO_SEC_SD_CFG15 */
		status = "okay";
	};

	adc: adc {
		compatible = "amlogic, adc-t3";
		status = "disabled";
		reg = <0x0 0xfe072000 0x0 0x2000/* afe reg base */
			0x0 0xfe008000 0x0 0x2000/* ana base */
			>;
	};

	jtag {
		compatible = "amlogic, jtag";
		status = "disabled";
		select = "disable"; /* disable/jtag_a/jtag_b */
		//pinctrl-names="jtag_a_pins";
		//pinctrl-0=<&jtag_a_pins>;
	};

	vpu: vpu {
		compatible = "amlogic, vpu-txhd2";
		status = "okay";
		clocks = <&clkc CLKID_VAPB>,
			<&clkc CLKID_VPU_0>,
			<&clkc CLKID_VPU_1>,
			<&clkc CLKID_VPU>;
		clock-names = "vapb_clk",
			"vpu_clk0",
			"vpu_clk1",
			"vpu_clk";
		reg = <0xff646000 0x200    /* clk */
			0xff644000 0x40     /* pwrctrl */
			0xff900000 0x40000>; /* vcbus */
		clk_level = <5>;
		/* 0: 100.0M    1: 166.7M    2: 200.0M    3: 250.0M */
		/* 4: 333.3M    5: 400.0M */
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		cbus: cbus@ffd00000 {
			compatible = "simple-bus";
			reg = <0xffd00000 0x25000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0xffd00000 0x25000>;

			gpio_intc: interrupt-controller@f080 {
				compatible = "amlogic,meson-gpio-intc",
						"amlogic,meson-txhd-gpio-intc";
				reg = <0xf080 0x10>;
				interrupt-controller;
				#interrupt-cells = <2>;
				amlogic,channel-interrupts =
					<64 65 66 67 68 69 70 71>;
				status = "disabled";
			};

			meson_clk_msr@18000 {
				compatible = "amlogic,meson-txhd2-clk-measure";
				reg = <0x18000 0x1c>;
				status = "okay";
			};

			i2c0: i2c@1f000 {
				compatible = "amlogic,meson-i2c";
				reg = <0x1f000 0x48>;
				interrupts = <GIC_SPI 21 IRQ_TYPE_EDGE_RISING>;
				#address-cells = <1>;
				#size-cells = <0>;
				clocks = <&clkc CLKID_CLK81_I2C>;
				clock-frequency = <100000>;
				status = "disabled";
			};

			i2c1: i2c@1e000  {
				compatible = "amlogic,meson-i2c";
				reg = <0x1e000 0x48>;
				interrupts = <GIC_SPI 214 IRQ_TYPE_EDGE_RISING>;
				#address-cells = <1>;
				#size-cells = <0>;
				clocks = <&clkc CLKID_CLK81_I2C>;
				clock-frequency = <100000>;
				status = "disabled";
			};

			i2c2: i2c@1d000  {
				compatible = "amlogic,meson-i2c";
				reg = <0x1d000 0x48>;
				interrupts = <GIC_SPI 215 IRQ_TYPE_EDGE_RISING>;
				#address-cells = <1>;
				#size-cells = <0>;
				clocks = <&clkc CLKID_CLK81_I2C>;
				clock-frequency = <100000>;
				status = "disabled";
			};

			i2c3: i2c@1c000 {
				compatible = "amlogic,meson-i2c";
				reg = <0x1c000 0x48>;
				interrupts = <GIC_SPI 39 IRQ_TYPE_EDGE_RISING>;
				#address-cells = <1>;
				#size-cells = <0>;
				clocks = <&clkc CLKID_CLK81_I2C>;
				clock-frequency = <100000>;
				status = "disabled";
			};

			pwm_ab: pwm@1b000 {
				compatible = "amlogic,meson-t5d-ee-pwm";
				reg = <0x1b000 0x20>;
				#pwm-cells = <3>;
				clocks = <&xtal>,
					<&xtal>,
					<&xtal>,
					<&xtal>;
				clock-names = "clkin0",
						"clkin1",
						"clkin2",
						"clkin3";
				/* default xtal 24m  clkin0-clkin2 and
				 * clkin1-clkin3 should be set the same
				 */
				status = "disabled";
			};

			pwm_cd: pwm@1a000 {
				compatible = "amlogic,meson-t5d-ee-pwm";
				reg = <0x1a000 0x20>;
				#pwm-cells = <3>;
				clocks = <&xtal>,
					<&xtal>,
					<&xtal>,
					<&xtal>;
				clock-names = "clkin0",
						"clkin1",
						"clkin2",
						"clkin3";
				/* default xtal 24m  clkin0-clkin2 and
				 * clkin1-clkin3 should be set the same
				 */
				status = "disabled";
			};

			pwm_ef: pwm@19000 {
				compatible = "amlogic,meson-t5d-ee-pwm";
				reg = <0x19000 0x20>;
				#pwm-cells = <3>;
				clocks = <&xtal>,
					<&xtal>,
					<&xtal>,
					<&xtal>;
				clock-names = "clkin0",
						"clkin1",
						"clkin2",
						"clkin3";
				/* default xtal 24m  clkin0-clkin2 and
				 * clkin1-clkin3 should be set the same
				 */
				status = "disabled";
			};

			reset: reset-controller@1004 {
				compatible = "amlogic,meson-t5-reset";
				reg = <0x1004 0x9C>;
				#reset-cells = <1>;
			};
		}; /* end of cbus */

		aobus: aobus@ff800000 {
			compatible = "simple-bus";
			reg = <0xff800000 0xa000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0xff800000 0xa000>;

			cpu_version {
				compatible = "amlogic,meson-gx-ao-secure", "syscon";
				reg=<0x0 0x140 0x0 0x4>;
				amlogic,has-chip-id;
			};

			uart_AO: serial@3000 {
				compatible = "amlogic, meson-uart";
				reg = <0x3000 0x18>;
				interrupts = <0 193 1>;
				status = "disabled";
				clocks = <&xtal>;
				clock-names = "clk_uart";
				xtal_tick_en = <1>;
				fifosize = < 64 >;
				//pinctrl-names = "default";
				//pinctrl-0 = <&ao_a_uart_pins>;
				/* 0 not support; 1 support */
				support-sysrq = <0>;
			};

			i2c_AO: i2c@5000 {
				compatible = "amlogic,meson-i2c";
				reg = <0x5000 0x48>;
				interrupts = <GIC_SPI 3 IRQ_TYPE_EDGE_RISING>;
				#address-cells = <1>;
				#size-cells = <0>;
				clocks = <&clkc CLKID_CLK81_I2C>;
				clock-frequency = <100000>;
				status = "disabled";
			};

			pwm_AO_ab: pwm@7000 {
				compatible = "amlogic,meson-g12a-ao-pwm-ab";
				reg = <0x7000 0x20>;
				#pwm-cells = <3>;
				clocks = <&xtal>,
					<&xtal>,
					<&xtal>,
					<&xtal>;
				clock-names = "clkin0",
						"clkin1",
						"clkin2",
						"clkin3";
				/* default xtal 24m  clkin0-clkin2 and
				 * clkin1-clkin3 should be set the same
				 */
				status = "disabled";
			};

			pwm_AO_cd: pwm@2000 {
				compatible = "amlogic,meson-g12a-ao-pwm-cd";
				reg = <0x7000 0x20>;
				#pwm-cells = <3>;
				clocks = <&xtal>,
					<&xtal>,
					<&xtal>,
					<&xtal>;
				clock-names = "clkin0",
						"clkin1",
						"clkin2",
						"clkin3";
				/* default xtal 24m  clkin0-clkin2 and
				 * clkin1-clkin3 should be set the same
				 */
				status = "disabled";
			};

			rti: sys-ctrl@0 {
				compatible = "amlogic,meson-gx-ao-sysctrl",
						"simple-mfd", "syscon";
				reg = <0x0 0x300>;
				#address-cells = <1>;
				#size-cells = <1>;
				ranges = <0x0 0x0 0x300>;

				clkc_AO: clock-controller@2 {
					compatible = "amlogic,txhd2-aoclkc";
					#clock-cells = <1>;
					clocks = <&xtal>;
					clock-names = "xtal";
					status = "okay";
				};
			};
		};/* end of aobus */

		periphs: periphs@ff634000 {
			compatible = "simple-bus";
			reg = <0xff634000 0x1000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0xff634000 0x1000>;

			rng {
				compatible = "amlogic,meson-rng";
				reg = <0x100 0x4>;
				quality = /bits/ 16 <1000>;
			};
		};/* end of periphs */

		hiubus: hiubus@ff63c000 {
			compatible = "simple-bus";
			reg = <0xff63c000 0x2000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0xff63c000 0x2000>;
		};/* end of hiubus*/

		clkc: clock-controller {
			compatible = "amlogic,txhd2-clkc";
			reg = <0xff646000 0x3e0>,
			      <0xff63c000 0x3fc>;
			reg-names = "basic", "cpu";
			#clock-cells = <1>;
			clocks = <&xtal>;
			clock-names = "xtal";
			status = "okay";
		};

		sd_emmc_c: mmc@ffe07000 {
			compatible = "amlogic,meson-axg-mmc";
			reg = <0xffe07000 0x800>,
				<0xff63c25c 0x4>,
				<0xff6346c0 0x4>;
			interrupts = <GIC_SPI 191 IRQ_TYPE_EDGE_RISING>;
			status = "disabled";
			clocks = <&clkc CLKID_CLK81_SD_EMMC_C>,
					<&clkc CLKID_SD_EMMC_C_SEL>,
					<&clkc CLKID_SD_EMMC_C>,
					<&xtal>,
					<&clkc CLKID_FCLK_DIV2>,
					<&clkc CLKID_FCLK_DIV2>;
			clock-names = "core", "mux0", "mux1",
					"clkin0", "clkin1", "clkin2";
			no-sdio;
			card_type = <1>;
			ignore_desc_busy;
			mmc_debug_flag;
		//	tx_delay = <10>;
		//	src_clk_rate = <1179648000>;
		//  resets = <&reset RESET_SD_EMMC_C>;
		};
	}; /* end of soc*/

	pwrdm: power-domains {
		compatible = "amlogic,txhd2-power-domain";
		#power-domain-cells = <1>;
		status = "okay";
	};

	pinctrl_aobus: pinctrl@ff800014{
		compatible = "amlogic,meson-txhd2-aobus-pinctrl";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		gpio_ao: ao-bank@ff800014{
			reg = <0xff800014 0x008>,
			      <0xff800024 0x014>;
			reg-names = "mux","gpio";
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl_aobus 0 0 14>;
		};
		i2cAO_pins1:i2cAO_pins1 {
			mux {
				groups = "i2cm_ao_a_scl_ao4",
					"i2cm_ao_a_sda_ao5";
				function = "i2cm_ao_a";
				drive-strength-microamp = <3000>;
				bias-disable;
			};
		};
		i2cAO_pins2:i2cAO_pins2 {
			mux {
				groups = "i2cm_ao_a_scl_ao10",
					"i2cm_ao_a_sda_ao11";
				function = "i2cm_ao_a";
				drive-strength-microamp = <3000>;
				bias-disable;
			};
		};

		pwm_AO_a_pins1:pwm_AO_a_pins1 {
			mux {
				groups = "pwm_ao_a_ao3";
				function = "pwm_ao_a";
			};
		};
		pwm_AO_a_pins2:pwm_AO_a_pins2 {
			mux {
				groups = "pwm_ao_a_ao7";
				function = "pwm_ao_a";
			};
		};
		pwm_AO_b_pins1:pwm_AO_b_pins1 {
			mux {
				groups = "pwm_ao_b";
				function = "pwm_ao_b";
			};
		};
		pwm_AO_c_pins1:pwm_AO_c_pins1 {
			mux {
				groups = "pwm_ao_c_ao8";
				function = "pwm_ao_c";
			};
		};
		pwm_AO_c_pins2:pwm_AO_c_pins2 {
			mux {
				groups = "pwm_ao_c_ao12";
				function = "pwm_ao_c";
			};
		};
		pwm_AO_d_pins1:pwm_AO_d_pins1 {
			mux {
				groups = "pwm_ao_d_ao2";
				function = "pwm_ao_d";
			};
		};
		pwm_AO_d_pins2:pwm_AO_d_pins2 {
			mux {
				groups = "pwm_ao_d_ao13";
				function = "pwm_ao_d";
			};
		};
	};

	pinctrl_periphs: pinctrl@ff6346c0{
		compatible = "amlogic,meson-txhd2-periphs-pinctrl";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		gpio: banks@ff6346c0{
			reg = <0xff6346c0 0x040>,
			      <0xff6344e8 0x018>,
			      <0xff634520 0x018>,
			      <0xff634440 0x04c>;
			reg-names = "mux", "pull", "pull-enable", "gpio";
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl_periphs 0 0 66>;
		};

		emmc_pins: emmc_pins {
			mux-0 {
				groups = "emmc_d0",
						"emmc_d1",
						"emmc_d2",
						"emmc_d3",
						"emmc_d4",
						"emmc_d5",
						"emmc_d6",
						"emmc_d7",
						"emmc_cmd";
				function = "emmc";
				bias-pull-up;
			};

			mux-1 {
				groups = "emmc_clk";
				function = "emmc";
				bias-pull-up;
			};
		};

		emmc_ds_pins: emmc_ds_pins {
			mux {
				groups = "emmc_ds";
				function = "emmc";
				bias-pull-down;
			};
		};

		emmc_clk_gate_pins: emmc_clk_gate_pins {
			mux {
				groups = "GPIOB_8";
				function = "gpio_periphs";
				bias-pull-down;
			};
		};

	};

	vclk_serve: vclk_serve {
		compatible = "amlogic, vclk_serve";
		status = "okay";
		mode = <0>;
		reg = <0xff63c000 0x400>; /* hiu reg */
	};
};

&pinctrl_periphs {
	i2c0_pins1:i2c0_pins1 {
		mux {
			groups = "i2cm_a_sda_dv4",
				"i2cm_a_scl_dv5";
			function = "i2cm_a";
			drive-strength-microamp = <3000>;
			bias-disable;
		};
	};
	i2c0_pins2:i2c0_pins2 {
		mux {
			groups = "i2cm_a_scl_h4",
				"i2cm_a_sda_h5";
			function = "i2cm_a";
			drive-strength-microamp = <3000>;
			bias-disable;
		};
	};
	i2c0_pins3:i2c0_pins3 {
		mux {
			groups = "i2cm_a_sda_z6",
				"i2cm_a_scl_z7";
			function = "i2cm_a";
			drive-strength-microamp = <3000>;
			bias-disable;
		};
	};
	i2c1_pins1:i2c1_pins1 {
		mux {
			groups = "i2cm_b_sda_dv0",
				"i2cm_b_scl_dv1";
			function = "i2cm_b";
			drive-strength-microamp = <3000>;
			bias-disable;
		};
	};
	i2c1_pins2:i2c1_pins2 {
		mux {
			groups = "i2cm_b_sda_z0",
				"i2cm_b_scl_z1";
			function = "i2cm_b";
			drive-strength-microamp = <3000>;
			bias-disable;
		};
	};
	i2c2_pins1:i2c2_pins1 {
		mux {
			groups = "i2cm_c_sda_c2",
				"i2cm_c_scl_c3";
			function = "i2cm_c";
			drive-strength-microamp = <3000>;
			bias-disable;
		};
	};
	i2c2_pins2:i2c2_pins2 {
		mux {
			groups = "i2cm_c_scl_h8",
				"i2cm_c_sda_h9";
			function = "i2cm_c";
			drive-strength-microamp = <3000>;
			bias-disable;
		};
	};
	i2c3_pins1:i2c3_pins1 {
		mux {
			groups = "i2cm_d_scl_h0",
				"i2cm_d_sda_h1";
			function = "i2cm_d";
			drive-strength-microamp = <3000>;
			bias-disable;
		};
	};
	i2c3_pins2:i2c3_pins2 {
		mux {
			groups = "i2cm_d_scl_h10",
				"i2cm_d_sda_h11";
			function = "i2cm_d";
			drive-strength-microamp = <3000>;
			bias-disable;
		};
	};

	pwm_a_pins1:pwm_a_pins1 {
		mux {
			groups = "pwm_a_dv4";
			function = "pwm_a";
		};
	};
	pwm_a_pins2:pwm_a_pins2 {
		mux {
			groups = "pwm_a_h7";
			function = "pwm_a";
		};
	};
	pwm_a_pins3:pwm_a_pins3 {
		mux {
			groups = "pwm_a_z5";
			function = "pwm_a";
		};
	};
	pwm_a_pins4:pwm_a_pins4 {
		mux {
			groups = "pwm_a_z7";
			function = "pwm_a";
		};
	};

	pwm_b_pins1:pwm_b_pins1 {
		mux {
			groups = "pwm_b_c9";
			function = "pwm_b";
		};
	};
	pwm_b_pins2:pwm_b_pins2 {
		mux {
			groups = "pwm_b_z1";
			function = "pwm_b";
		};
	};

	pwm_c_pins1:pwm_c_pins1 {
		mux {
			groups = "pwm_c_c10";
			function = "pwm_c";
		};
	};
	pwm_c_pins2:pwm_c_pins2 {
		mux {
			groups = "pwm_c_h11";
			function = "pwm_c";
		};
	};
	pwm_c_pins3:pwm_c_pins3 {
		mux {
			groups = "pwm_c_z0";
			function = "pwm_c";
		};
	};

	pwm_d_pins1:pwm_d_pins1 {
		mux {
			groups = "pwm_d_dv2";
			function = "pwm_d";
		};
	};
	pwm_d_pins2:pwm_d_pins2 {
		mux {
			groups = "pwm_d_c6";
			function = "pwm_d";
		};
	};
	pwm_d_pins3:pwm_d_pins3 {
		mux {
			groups = "pwm_d_h9";
			function = "pwm_d";
		};
	};
	pwm_d_pins4:pwm_d_pins4 {
		mux {
			groups = "pwm_d_z2";
			function = "pwm_d";
		};
	};

	pwm_e_pins1:pwm_e_pins1 {
		mux {
			groups = "pwm_e_h8";
			function = "pwm_e";
		};
	};
	pwm_e_pins2:pwm_e_pins2 {
		mux {
			groups = "pwm_e_z4";
			function = "pwm_e";
		};
	};

	pwm_f_pins1:pwm_f_pins1 {
		mux {
			groups = "pwm_f";
			function = "pwm_f";
		};
	};
};

