// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 Amlogic, Inc. All rights reserved.
 */

/dts-v1/;

#include "meson-s1a.dtsi"
#include "mesons1a_drm.dtsi"
#include <dt-bindings/input/input.h>

/ {
	amlogic-dt-id = "s1a_pxp";
	compatible = "s1a_pxp";
	interrupt-parent = <&gic>;
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
		serial0 = &uart_B;
		i2c1 = &i2c1;
		spi0 = &spi_nfc;
		tsensor0 = &p_tsensor;
	};

	memory@00000000 {
		device_type = "memory";
		linux,usable-memory = <0x0 0x10000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		ramoops@0x07400000 {
			compatible = "ramoops";
			reg = <0x07400000 0x00100000>;
			record-size = <0x20000>;
			console-size = <0x40000>;
			ftrace-size = <0x80000>;
			pmsg-size = <0x10000>;
			bconsole-size = <0x10000>;
		};

		dmc_reserved:linux,dmc_monitor {
			compatible = "amlogic,dmc_monitor-reserved";
			reg = <0x0 0x0>;
			status = "disabled";
		};

		debug_reserved:linux,iotrace {
			compatible = "amlogic, iotrace";
			reg = <0x04f00000 0x00100000>;
			io-size = <0x1b000>;
			sched-size = <0x2000>;
			irq-size = <0x1000>;
			smc-size = <0x1000>;
			misc-size = <0x1000>;
		};

		secmon_reserved:linux,secmon {
			compatible = "shared-dma-pool";
			/*reusable;*/
			no-map;
			size = <0x200000>;
			alignment = <0x100000>;
			alloc-ranges = <0x05000000 0x200000>;
		};

		logo_reserved:linux,meson-fb {
			compatible = "amlogic, meson-fb";
			size = <0x400000>;
			alignment = <0x400000>;
			reg = <0x0fc00000 0x400000>;
		};

		ion_cma_reserved:linux,ion-dev {
			compatible = "shared-dma-pool";
			status = "disabled";
			reusable;
			size = <0x0>;
			alignment = <0x400000>;
		};
		ion_fb_reserved:linux,ion-fb {
			compatible = "shared-dma-pool";
			status = "disabled";
			reusable;
			size = <0x0>;
			alignment = <0x400000>;
		};
		dmaheap_cma_reserved:heap-gfx {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x1000000>;
			alignment = <0x400000>;
		};

		/*di CMA pool */
		di_cma_reserved:linux,di_cma {
			compatible = "shared-dma-pool";
			reusable;
			/* buffer_size = 3621952(yuv422 8bit)
			 *  | 4736064(yuv422 10bit)
			 *  | 4074560(yuv422 10bit full pack mode)
			 * 10x3621952=34.6M(0x23) support 8bit
			 * 10x4736064=45.2M(0x2e) support 12bit
			 * 10x4074560=40M(0x28) support 10bit
			 */
			//size = <0x0 0x0B000000>;
			//size = <0x0 0x0>;
			alignment = <0x400000>;
		};

		codec_mm_cma:linux,codec_mm_cma {
			compatible = "shared-dma-pool";
			reusable;
			/* ion_codec_mm max can alloc size 80M*/
			size = <0x4000000>;
			alignment = <0x400000>;
			linux,contiguous-region;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x800000>;
			alignment = <0x400000>;
			linux,cma-default;
			alloc-ranges = <0x0 0x30000000>;
		};
	};

	codec_mm {
		compatible = "amlogic, codec, mm";
		memory-region = <&codec_mm_cma>;
		dev_name = "codec_mm";
		status = "okay";
	};

	cvbsout {
		compatible = "amlogic, cvbsout-s4";
		status = "disabled";

		/* clk path */
		/* 0:vid_pll vid2_clk */
		/* 1:gp0_pll vid2_clk */
		/* 2:vid_pll vid1_clk */
		/* 3:gp0_pll vid1_clk */
		clk_path = <0>;

		/* performance: reg_address, reg_value */
		/* s4 */
		performance_pal = <0x1bf0  0x9 /* default Matrx625 CTCC value*/
			0x1b12  0x80c0
			0x1b05  0xf7
			0x1b56  0x333
			0x1c59  0xf25c
			0xffff  0x0>; /* ending flag */
		performance = <0x1bf0  0x9 /* ccitt033 SVA value */
			0x1b12  0x8040
			0x1b05  0xfd
			0x1b56  0x333
			0x1c59  0xf654
			0xffff  0x0>; /* ending flag */
		performance_ntsc = <0x1bf0  0x9
			0x1b12  0x8020
			0x1b03  0x0
			0x1b04  0x0
			0x1b05  0x0
			0x1b06  0x0
			0x1b56  0x333
			0x1c59  0xf850
			0xffff  0x0>; /* ending flag */
	};

	dvb-extern {
		compatible = "amlogic, dvb-extern";
		dev_name = "dvb-extern";
		status = "disabled";

		/* dvb hardware main power. */
		//dvb_power_gpio = <&gpio GPIOZ_5 GPIO_ACTIVE_HIGH>;
		dvb_power_value = <0>;
		dvb_power_dir = <0>; /* 0: out, 1: in. */

		fe_num = <1>; /* internal 1 * dvb-s */
		fe0_demod = "internal";
		fe0_tuner0 = <0>; /* use tuner0 */

		tuner_num = <1>; /* tuner number, multi tuner support */
		tuner0_name = "av2018_tuner";
		// tuner0_i2c_adap = <&i2c3>;
		tuner0_i2c_addr = <0xC4>; /* 8bit */
		tuner0_lt_out = <0>;
	};

	dvb-demux {
		compatible = "amlogic sc2, dvb-demux";
		dev_name = "dvb-demux";
		status = "disabled";

		reg = <0xfe000000 0x480000>;

		dmxdev_num = <0x11>;

		tsn_from = "demod";

		/*single demod setting */
		ts0_sid = <0x10>;
		ts0 = "serial-4wire"; /* tsinA: serial-4wire, serial-3wire */
		ts0_control = <0x0>;
		ts0_invert = <0>;

		ts1_sid = <0x11>;
		ts1 = "parallel";
		ts1_control = <0x0>;
		ts1_invert = <0>;

		ts2_sid = <0x12>;
		ts2 = "parallel";
		ts2_control = <0x0>;
		ts2_invert = <0>;

		//pinctrl-names = "s_ts0";
		//pinctrl-0 = <&dvb_s_ts0_pins>;
	};

	ionvideo {
		compatible = "amlogic, ionvideo";
		dev_name = "ionvideo";
		status = "disabled";
	};

	amlvideo2_0 {
		compatible = "amlogic, amlvideo2";
		dev_name = "amlvideo2";
		status = "disabled";
		amlvideo2_id = <0>;
		cma_mode = <1>;
	};

	amlvideo2_1 {
		compatible = "amlogic, amlvideo2";
		dev_name = "amlvideo2";
		status = "disabled";
		amlvideo2_id = <1>;
		cma_mode = <1>;
	};

	amlvecm {
		compatible = "amlogic, vecm";
		dev_name = "aml_vecm";
		status = "disabled";
		gamma_en = <0>;/*1:enable ;0:disable*/
		wb_en = <0>;/*1:enable ;0:disable*/
		cm_en = <0>;/*1:enable ;0:disable*/
		/*0: 709/601  1: bt2020*/
		tx_op_color_primary = <0>;
	};

	multi-di {
		compatible = "amlogic, dim-s4";
		status = "disabled";
		/* 0:use reserved; 1:use cma; 2:use cma as reserved */
		flag_cma = <4>;	//<1>;
		//memory-region = <&di_reserved>;
		//memory-region = <&di_cma_reserved>;
		interrupts = <0 203 1
				0 202 1>;
		interrupt-names = "pre_irq", "post_irq";
		//clocks = <&clkc CLKID_VPU_CLKB>,
		//	<&clkc CLKID_VPU>;
		clock-names = "vpu_clkb",
			"vpu_mux";
		clock-range = <334 667>;
		/* buffer-size = <3621952>;(yuv422 8bit) */
		buffer-size = <4074560>;/*yuv422 fullpack*/
		/* reserve-iomap = "true"; */
		/* if enable nr10bit, set nr10bit-support to 1 */
		post-wr-support = <1>;
		nr10bit-support = <1>;
		nrds-enable = <1>;
		pps-enable = <1>;
		post_nub = <5>;
	};

	aml_dtv_demod {
		compatible = "amlogic, ddemod-s4d";
		dev_name = "aml_dtv_demod";
		status = "disabled";
		diseqc_name = "sgm_41286";
		pinctrl-names="if_agc_pins", "if_agc2_pins", "rf_agc_pins", "diseqc_out";
		pinctrl-0=<&dtvdemod_if_agc_pins>;
		pinctrl-1=<&dtvdemod_if_agc2_pins>;
		pinctrl-2=<&dtvdemod_rf_agc_pins>;
		pinctrl-3=<&diseqc_out>;
		//pinctrl-4=<&diseqc_in>;
		//lnb_en-gpios = <&gpio GPIOZ_6 GPIO_ACTIVE_HIGH>;
		//lnb_sel-gpios = <&gpio GPIOZ_4 GPIO_ACTIVE_HIGH>;
		interrupts = <GIC_SPI 221 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "demod_isr";

		//power-domains = <&pwrdm PDID_S4_DEMOD>;
		/* clocks = <&clkc CLKID_DAC_CLK>; */
		/* clock-names = "vdac_clk_gate"; */

		reg = <0xfe350000 0x10000	/* dtv demod base */
			   0xfe000000 0x2000	/* div base */
			   0xff800000 0x1000	/* io_aobus_base */
			   0xffd01000 0x1000	/* reset */
			>;

		spectrum = <1>;
		cma_mem_size = <0>; // MB
		agc_pin_direction;//for S4D av2018 rf agc reverse
	};

	unifykey{
		compatible = "amlogic,unifykey";
		status = "okay";
		unifykey-num = <19>;
		unifykey-index-0 = <&keysn_0>;
		unifykey-index-1 = <&keysn_1>;
		unifykey-index-2 = <&keysn_2>;
		unifykey-index-3 = <&keysn_3>;
		unifykey-index-4 = <&keysn_4>;
		unifykey-index-5 = <&keysn_5>;
		unifykey-index-6 = <&keysn_6>;
		unifykey-index-7 = <&keysn_7>;
		unifykey-index-8 = <&keysn_8>;
		unifykey-index-9 = <&keysn_9>;
		unifykey-index-10= <&keysn_10>;
		unifykey-index-11= <&keysn_11>;
		unifykey-index-12= <&keysn_12>;
		unifykey-index-13= <&keysn_13>;
		unifykey-index-14= <&keysn_14>;
		unifykey-index-15= <&keysn_15>;
		unifykey-index-16= <&keysn_16>;
		unifykey-index-17= <&keysn_17>;
		unifykey-index-18= <&keysn_18>;

		keysn_0: key_0{
			key-name = "usid";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_1:key_1{
			key-name = "mac";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_2:key_2{
			key-name = "hdcp";
			key-device = "secure";
			key-type = "sha1";
			key-permit = "read","write","del";
		};
		keysn_3:key_3{
			key-name = "secure_boot_set";
			key-device = "efuse";
			key-permit = "write";
		};
		keysn_4:key_4{
			key-name = "mac_bt";
			key-device = "normal";
			key-permit = "read","write","del";
			key-type  = "mac";
		};
		keysn_5:key_5{
			key-name = "mac_wifi";
			key-device = "normal";
			key-permit = "read","write","del";
			key-type = "mac";
		};
		keysn_6:key_6{
			key-name = "hdcp2_tx";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_7:key_7{
			key-name = "hdcp2_rx";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_8:key_8{
			key-name = "widevinekeybox";
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_9:key_9{
			key-name = "deviceid";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_10:key_10{
			key-name = "hdcp22_fw_private";
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_11:key_11{
			key-name = "PlayReadykeybox25";
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_12:key_12{
			key-name = "prpubkeybox";// PlayReady
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_13:key_13{
			key-name = "prprivkeybox";// PlayReady
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_14:key_14{
			key-name = "attestationkeybox";// attestation key
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_15:key_15{
			key-name = "region_code";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_16:key_16{
			key-name = "netflix_mgkid";
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_17:key_17{
			key-name = "attestationdevidbox";// attest dev id box
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_18:key_18{
			key-name = "oemkey";
			key-device = "normal";
			key-permit = "read","write","del";
		};
	};//End unifykey

	efusekey:efusekey{
		keynum = <4>;
		key0 = <&key_0>;
		key1 = <&key_1>;
		key2 = <&key_2>;
		key3 = <&key_3>;
		key_0:key_0{
			keyname = "mac";
			offset = <0>;
			size = <6>;
		};
		key_1:key_1{
			keyname = "mac_bt";
			offset = <6>;
			size = <6>;
		};
		key_2:key_2{
			keyname = "mac_wifi";
			offset = <12>;
			size = <6>;
		};
		key_3:key_3{
			keyname = "usid";
			offset = <18>;
			size = <16>;
		};
	};//End efusekey

	vcc3v3_reg: fixed@vcc3v3_reg{
		compatible = "regulator-fixed";
		vin-supply = <&vddao3v3_reg>;
		regulator-name = "VCC3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio GPIO_TEST_N GPIO_ACTIVE_HIGH>;
		startup-delay-us = <70000>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	/* Audio Related start */
	auge_sound {
		compatible = "amlogic, auge-sound-card";
		status = "disabled";
		aml-audio-card,name = "AML-AUGESOUND";

		/*avout mute gpio*/
		//avout_mute-gpios = <&gpio GPIOH_9 GPIO_ACTIVE_HIGH>;
		//spk_mute-gpios = <&gpio GPIOH_8 GPIO_ACTIVE_LOW>;

		aml-audio-card,dai-link@0 {
			format = "dsp_a";
			mclk-fs = <512>;
			//continuous-clock;
			//bitclock-inversion;
			//frame-inversion;
			/* master mode */
			bitclock-master = <&tdma>;
			frame-master = <&tdma>;
			/* slave mode */
			/*
			 * bitclock-master = <&tdmacodec>;
			 * frame-master = <&tdmacodec>;
			 */
			suffix-name = "alsaPORT-pcm";
			tdmacpu: cpu {
				sound-dai = <&tdma>;
				dai-tdm-slot-tx-mask =
							<1>;
				dai-tdm-slot-rx-mask =
							<1>;
				dai-tdm-slot-num = <2>;
				dai-tdm-slot-width = <16>;
				system-clock-frequency = <256000>;
			};
			tdmacodec: codec {
				sound-dai = <&dummy_codec>;
			};
		};

		aml-audio-card,dai-link@1 {
			format = "i2s";// "dsp_a";
			mclk-fs = <256>;
			continuous-clock;
			//bitclock-inversion;
			//frame-inversion;
			/* master mode */
			bitclock-master = <&tdmb>;
			frame-master = <&tdmb>;
			/* slave mode */
			//bitclock-master = <&tdmbcodec>;
			//frame-master = <&tdmbcodec>;
			/* suffix-name, sync with android audio hal
			 * what's the dai link used for
			 */
			suffix-name = "alsaPORT-i2s";
			cpu {
				sound-dai = <&tdmb>;
				dai-tdm-slot-tx-mask = <1 1>;
				dai-tdm-slot-rx-mask = <1 1>;
				dai-tdm-slot-num = <2>;
				/*
				 * dai-tdm-slot-tx-mask =
				 *	<1 1 1 1 1 1 1 1>;
				 * dai-tdm-slot-rx-mask =
				 *	<1 1 1 1 1 1 1 1>;
				 * dai-tdm-slot-num = <8>;
				 */
				dai-tdm-slot-width = <32>;
				system-clock-frequency = <12288000>;
			};
			tdmbcodec: codec {
				sound-dai = <&amlogic_codec>;
			};
		};

		aml-audio-card,dai-link@2 {
			format = "i2s";
			mclk-fs = <256>;
			//continuous-clock;
			//bitclock-inversion;
			//frame-inversion;
			/* master mode */
			bitclock-master = <&tdmc>;
			frame-master = <&tdmc>;
			/* slave mode */
			//bitclock-master = <&tdmccodec>;
			//frame-master = <&tdmccodec>;
			/* suffix-name, sync with android audio hal used for */
			suffix-name = "alsaPORT-i2s";
			cpu {
				sound-dai = <&tdmc>;
				dai-tdm-slot-tx-mask = <1 1>;
				dai-tdm-slot-rx-mask = <1 1>;
				dai-tdm-slot-num = <2>;
				dai-tdm-slot-width = <32>;
				system-clock-frequency = <12288000>;
			};
			tdmccodec: codec {
				sound-dai = <&dummy_codec>;
			};
		};

		aml-audio-card,dai-link@3 {
			mclk-fs = <64>;
			/* suffix-name, sync with android audio hal
			 * what's the dai link used for
			 */
			suffix-name = "alsaPORT-pdm-builtinmic";
			cpu {
				sound-dai = <&apdm>;
			};
			codec {
				sound-dai = <&dummy_codec>;
			};
		};

		aml-audio-card,dai-link@4 {
			mclk-fs = <128>;
			/* suffix-name, sync with android audio hal used for */
			suffix-name = "alsaPORT-spdif";
			cpu {
				sound-dai = <&spdifa>;
				system-clock-frequency = <6144000>;
			};
			codec {
				sound-dai = <&dummy_codec>;
			};
		};
		/* spdif_b to hdmi, only playback */
		aml-audio-card,dai-link@5 {
			mclk-fs = <128>;
			continuous-clock;
			/* suffix-name, sync with android audio hal
			 * what's the dai link used for
			 */
			suffix-name = "alsaPORT-spdifb";
			cpu {
				sound-dai = <&spdifb>;
				system-clock-frequency = <6144000>;
			};
			codec {
				sound-dai = <&dummy_codec>;
			};
		};

		aml-audio-card,dai-link@6 {
			mclk-fs = <256>;
			continuous-clock;
			suffix-name = "alsaPORT-loopback";
			cpu {
				sound-dai = <&loopbacka>;
				system-clock-frequency = <12288000>;
			};
			codec {
				sound-dai = <&dummy_codec>;
			};
		};
	};

	picdec {
		compatible = "amlogic, picdec";
		status = "disabled";
	};

	audiolocker: locker {
		compatible = "amlogic, audiolocker";
		clock-names = "lock_out", "lock_in", "out_src",
					"in_src", "out_calc", "in_ref";
		interrupts = <GIC_SPI 1 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq";
		frequency = <49000000>; /* pll */
		dividor = <49>; /* locker's parent */
		status = "disabled";
	};/* Audio Related end */

	adc_keypad {
		compatible = "amlogic, adc_keypad";
		status = "disabled";
		key_name = "standby", "vol+", "vol-";
		key_num = <3>;
		io-channels = <&saradc 0>;
		io-channel-names = "key-chan-0";
		key_chan = <0 0 0>;
		key_code = <116 115 114>;
		key_val = <20 910 630>; //val=voltage/1800mV*1023
		key_tolerance = <40 40 40>;
	};

	gpio_keypad{
		compatible = "amlogic, gpio_keypad";
		status = "disabled";
		scan_period = <20>;
		key_num = <2>;
		key_name = "bluetooth", "mute";
		key_code = <600 SW_MUTE_DEVICE>;
		key_type = <EV_KEY EV_SW>;
		//key-gpios = <&gpio  GPIOD_6  GPIO_ACTIVE_HIGH
		//	     &gpio  GPIOD_3  GPIO_ACTIVE_HIGH>;
		detect_mode = <0>;/*0:polling mode, 1:irq mode*/
	};
};

&vddcpu0 {
	status = "okay";
};

&audiobus {
	status = "disabled";
	tdma: tdm@0 {
		compatible = "amlogic, t5-snd-tdma";
		#sound-dai-cells = <0>;
		dai-tdm-lane-slot-mask-in = <1>;
		dai-tdm-lane-slot-mask-out = <1 0>;
		dai-tdm-clk-sel = <0>;
		//clocks = <&clkaudio CLKID_AUDIO_MCLK_A
		//		&clkc CLKID_MPLL0>;
		clock-names = "mclk", "clk_srcpll";
		pinctrl-names = "tdm_pins";
		pinctrl-0 = <&tdm_a
			&tdm_d0_pins
			&tdm_d1_pins
			&tdma_clk_pins>;

		status = "disabled";
	};

	tdmb: tdm@1 {
		compatible = "amlogic, t5-snd-tdmb";
		#sound-dai-cells = <0>;
		dai-tdm-lane-slot-mask-out = <1 1 1 1>;
		dai-tdm-clk-sel = <1>;
		//clocks = <&clkaudio CLKID_AUDIO_MCLK_B
		//		&clkaudio CLKID_AUDIO_MCLK_PAD0
		//		&clkc CLKID_MPLL1>;
		clock-names = "mclk", "mclk_pad",  "clk_srcpll";
		/*
		 * 0: tdmout_a;
		 * 1: tdmout_b;
		 * 2: tdmout_c;
		 * 3: spdifout;
		 * 4: spdifout_b;
		 */
		samesource_sel = <3>;

		/*enable default mclk(12.288M), before extern codec start*/
		start_clk_enable = <1>;

		/*tdm clk tuning enable*/
		clk_tuning_enable = <1>;

		status = "disabled";

		/* !!!For --TV platform-- ONLY */
		Channel_Mask {
			/*i2s has 4 pins, 8channel, mux output*/
			Spdif_samesource_Channel_Mask = "i2s_0/1";
		};
	};

	tdmc: tdm@2 {
		compatible = "amlogic, t5-snd-tdmc";
		#sound-dai-cells = <0>;
		dai-tdm-lane-slot-mask-out = <1>;
		dai-tdm-clk-sel = <2>;
		//clocks = <&clkaudio CLKID_AUDIO_MCLK_C
		//		&clkc CLKID_MPLL2>;
		clock-names = "mclk", "clk_srcpll";

		status = "disabled";
	};

	spdifa: spdif@0 {
		compatible = "amlogic, tm2-revb-snd-spdif-a";
		#sound-dai-cells = <0>;
		//clocks = <&clkc CLKID_MPLL0
		//		&clkc CLKID_FCLK_DIV4
		//		&clkaudio CLKID_AUDIO_GATE_SPDIFIN
		//		&clkaudio CLKID_AUDIO_GATE_SPDIFOUT_A
		//		&clkaudio CLKID_AUDIO_SPDIFIN
		//		&clkaudio CLKID_AUDIO_SPDIFOUT_A>;
		clock-names = "sysclk", "clk_src_cd", "gate_spdifout","clk_spdifout";
		interrupts =
				<GIC_SPI 35 IRQ_TYPE_EDGE_RISING>;

		interrupt-names = "irq_spdifin";
		pinctrl-names = "spdif_pins", "spdif_pins_mute";
		pinctrl-0 = <&spdifout>;
		pinctrl-1 = <&spdifout_a_mute>;

		/*spdif clk tuning enable*/
		clk_tuning_enable = <1>;

		status = "disabled";
	};
	spdifb: spdif@1 {
		compatible = "amlogic, tm2-revb-snd-spdif-b";
		#sound-dai-cells = <0>;
		//clocks = <&clkc CLKID_MPLL0 /*CLKID_HIFI_PLL*/
		//		&clkaudio CLKID_AUDIO_GATE_SPDIFOUT_B
		//		&clkaudio CLKID_AUDIO_SPDIFOUT_B>;
		clock-names = "sysclk",
				"gate_spdifout", "clk_spdifout";

		status = "disabled";
	};
	apdm: pdm {
		compatible = "amlogic, sm1-snd-pdm";
		#sound-dai-cells = <0>;

		//clocks = <&clkaudio CLKID_AUDIO_GATE_PDM
		//	&clkc CLKID_FCLK_DIV3
		//	&clkc CLKID_MPLL3
		//	&clkaudio CLKID_AUDIO_PDMIN0
		//	&clkaudio CLKID_AUDIO_PDMIN1>;
		clock-names = "gate",
			"sysclk_srcpll",
			"dclk_srcpll",
			"pdm_dclk",
			"pdm_sysclk";

		pinctrl-names = "pdm_pins";
		pinctrl-0 = <&pdmin>;

		/* mode 0~4, defalut:1 */
		filter_mode = <1>;

		status = "disabled";
	};

	asrca: resample@0 {
		compatible = "amlogic, t5-resample-a";
		//clocks = <&clkc CLKID_MPLL3
		//		&clkaudio CLKID_AUDIO_MCLK_F
		//		&clkaudio CLKID_AUDIO_RESAMPLE_A>;
		clock-names = "resample_pll", "resample_src", "resample_clk";
		/*same with toddr_src
		 *	TDMIN_A, 0
		 *	TDMIN_B, 1
		 *	TDMIN_C, 2
		 *	SPDIFIN, 3
		 *	PDMIN,  4
		 *	NONE,
		 *	TDMIN_LB, 6
		 *	LOOPBACK, 7
		 */
		resample_module = <4>;
		status = "disabled";
	};

	asrcb:resample@1 {
		compatible = "amlogic, t5-resample-b";
		//clocks = <&clkc CLKID_MPLL3
		//	&clkaudio CLKID_AUDIO_MCLK_F
		//	&clkaudio CLKID_AUDIO_RESAMPLE_B>;
		clock-names = "resample_pll", "resample_src", "resample_clk";

		/*this resample is only used for loopback_A.*/
		capture_sample_rate = <16000>;

		status = "disabled";
	};

	vad:vad {
		compatible = "amlogic, snd-vad";
		#sound-dai-cells = <0>;

		//clocks = <&clkaudio CLKID_AUDIO_GATE_TOVAD
		//	&clkc CLKID_FCLK_DIV5
		//	&clkaudio CLKID_AUDIO_VAD>;
		clock-names = "gate", "pll", "clk";

		interrupts = <GIC_SPI 39 IRQ_TYPE_EDGE_RISING
				GIC_SPI 44 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq_wakeup", "irq_frame_sync";

		/*
		 * Data src sel:
		 * 0: tdmin_a;
		 * 1: tdmin_b;
		 * 2: tdmin_c;
		 * 3: spdifin;
		 * 4: pdmin;
		 * 5: loopback_b;
		 * 6: tdmin_lb;
		 * 7: loopback_a;
		 */
		src = <4>;

		/*
		 * deal with hot word in user space or kernel space
		 * 0: in user space
		 * 1: in kernel space
		 */
		level = <1>;

		status = "disabled";
	};

	loopbacka:loopback@0 {
		compatible = "amlogic, t5-loopbacka";
		#sound-dai-cells = <0>;

		//clocks = <&clkaudio CLKID_AUDIO_GATE_PDM
		//	&clkc CLKID_FCLK_DIV3
		//	&clkc CLKID_MPLL3
		//	&clkaudio CLKID_AUDIO_PDMIN0
		//	&clkaudio CLKID_AUDIO_PDMIN1
		//	&clkc CLKID_MPLL0
		//	&clkaudio CLKID_AUDIO_MCLK_A>;
		clock-names = "pdm_gate",
			"pdm_sysclk_srcpll",
			"pdm_dclk_srcpll",
			"pdm_dclk",
			"pdm_sysclk",
			"tdminlb_mpll",
			"tdminlb_mclk";

		/* datain src
		 * 0: tdmin_a;
		 * 1: tdmin_b;
		 * 2: tdmin_c;
		 * 3: spdifin;
		 * 4: pdmin;
		 */
		datain_src = <4>;
		datain_chnum = <2>;
		datain_chmask = <0x3>;
		/* config which data pin for loopback */
		datain-lane-mask-in = <1 0 0 0>;

		/* calc mclk for datalb */
		mclk-fs = <256>;

		/* tdmin_lb src
		 * 0: tdmoutA
		 * 1: tdmoutB
		 * 2: tdmoutC
		 * 3: PAD_TDMINA_DIN*, refer to core pinmux
		 * 4: PAD_TDMINB_DIN*, refer to core pinmux
		 * 5: PAD_TDMINC_DIN*, refer to core pinmux
		 * 6: PAD_TDMINA_D*, oe, refer to core pinmux
		 * 7: PAD_TDMINB_D*, oe, refer to core pinmux
		 */
		/* if tdmin_lb >= 3, use external loopback */
		datalb_src = <1>;
		datalb_chnum = <2>;
		datalb_chmask = <0x3>;
		/* config which data pin as loopback */
		datalb-lane-mask-in = <1 0 0 0>;

		status = "disabled";
	};

	loopbackb:loopback@1 {
		compatible = "amlogic, t5-loopbackb";
		#sound-dai-cells = <0>;

		//clocks = <&clkaudio CLKID_AUDIO_GATE_PDM
		//	&clkc CLKID_FCLK_DIV3
		//	&clkc CLKID_MPLL3
		//	&clkaudio CLKID_AUDIO_PDMIN0
		//	&clkaudio CLKID_AUDIO_PDMIN1
		//	&clkc CLKID_MPLL0
		//	&clkaudio CLKID_AUDIO_MCLK_A>;
		clock-names = "pdm_gate",
			"pdm_sysclk_srcpll",
			"pdm_dclk_srcpll",
			"pdm_dclk",
			"pdm_sysclk",
			"tdminlb_mpll",
			"tdminlb_mclk";

		/* calc mclk for datain_lb */
		mclk-fs = <256>;

		/* datain src
		 * 0: tdmin_a;
		 * 1: tdmin_b;
		 * 2: tdmin_c;
		 * 3: spdifin;
		 * 4: pdmin;
		 */
		datain_src = <4>;
		datain_chnum = <4>;
		datain_chmask = <0xf>;
		/* config which data pin for loopback */
		datain-lane-mask-in = <1 0 1 0>;

		/* tdmin_lb src
		 * 0: tdmoutA
		 * 1: tdmoutB
		 * 2: tdmoutC
		 * 3: PAD_TDMINA_DIN*, refer to core pinmux
		 * 4: PAD_TDMINB_DIN*, refer to core pinmux
		 * 5: PAD_TDMINC_DIN*, refer to core pinmux
		 * 6: PAD_TDMINA_D*, oe, refer to core pinmux
		 * 7: PAD_TDMINB_D*, oe, refer to core pinmux
		 */
		/* if tdmin_lb >= 3, use external loopback */
		datalb_src = <1>;
		datalb_chnum = <2>;
		datalb_chmask = <0x3>;
		/* config which data pin as loopback */
		datalb-lane-mask-in = <1 0 0 0>;

		status = "disabled";
	};
	aed:effect {
		compatible = "amlogic, snd-effect-v3";
		#sound-dai-cells = <0>;
		//clocks = <&clkaudio CLKID_AUDIO_GATE_EQDRC
		//	&clkc CLKID_FCLK_DIV5
		//	&clkaudio CLKID_AUDIO_EQDRC>;
		clock-names = "gate", "srcpll", "eqdrc";
		/*
		 * 0:tdmout_a
		 * 1:tdmout_b
		 * 2:tdmout_c
		 * 3:spdifout
		 * 4:spdifout_b
		 */
		eqdrc_module = <1>;
		/* max 0xf, each bit for one lane, usually one lane */
		lane_mask = <0x1>;
		/* max 0xff, each bit for one channel */
		channel_mask = <0x3>;
		status = "disabled";
	};
}; /* end of audiobus */

&pinctrl_audio {
	tdm_d0_pins: tdm_d0_pin {
		mux {
			groups = "tdm_d0";
			function = "tdmouta_lane0";
		};
	};

	tdm_d1_pins: tdm_d1_pin {
		mux {
			groups = "tdm_d1";
			function = "tdmina_lane0";
		};
	};

	tdma_clk_pins: tdm_clk_pin {
		mux {
			groups = "tdm_sclk0", "tdm_lrclk0";
			function = "tdm_clk_outa";
		};
	};
};

&periphs_pinctrl {
	tdm_a: tdm_a {
		mux { /* GPIOX_11, GPIOX_10, GPIOX_9, GPIOX_8 */
			groups = "tdm_sclk0",
				"tdm_fs0",
				"tdm_d0",
				"tdm_d1";
			function = "tdm";
		};
	};

	pdmin: pdmin {
		mux { /* GPIOD_8, GPIOD_9 */
			groups = "pdm_din0_d";
			function = "pdm";
		};
		mux1 {
			groups = "pdm_dclk_d";
			function = "pdm";
			drive-strength-microamp = <500>;
		};
	};

	spdifout: spdifout {
		mux { /* GPIOH_4 */
			groups = "spdif_out_h";
			function = "spdif_out";
		};
	};

	spdifout_a_mute: spdifout_a_mute {
		mux { /* GPIOH_4 */
			groups = "GPIOH_4";
			function = "gpio_periphs";
			output-low;
		};
	};

	//dvb_s_ts0_pins: dvb_s_ts0_pins {
	//	tsin_a {
	//		groups = "tsin_a_sop",
	//			"tsin_a_valid",
	//			"tsin_a_clk",
	//			"tsin_a_din0";
	//		function = "tsin_a";
	//	};
	//};
}; /* end of periphs_pinctrl */

&audio_data {
	status = "disabled";
};

&crg_phy_20 {
	status = "disabled";
	portnum = <1>;
};

&crg3_phy_20 {
	status = "disabled";
	portnum = <0>;
};

&crg20_otg {
	status = "disabled";
	controller-type = <1>; /* 0~3: normal, host, device, otg */
};

&crg20_drd {
	status = "disabled";
};

&crg_udc_2 {
	status = "disabled";
};

&saradc {
	status = "disabled";
};

&spi_nfc {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spinf_pins>;
	spi-nand@0 {
		compatible = "spi-nand";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <24000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
		bl_mode = <2>; /* advance mode */
		fip_copies = <4>;
		info_p_mode = <1>; /* Info page on page 0 */
		partition = <&snand_partitions>;
		snand_partitions: snand_partitions{
			bootloader{
				offset=<0x0 0x0>;
				size=<0x0 0x0>;
			};
			bl2e{
				offset=<0x0 0x0>;
				size=<0x0 0x80000>;
			};
			bl2x{
				offset=<0x0 0x0>;
				size=<0x0 0x80000>;
			};
			ddrfip{
				offset=<0x0 0x0>;
				size=<0x0 0x100000>;
			};
			devfip{
				offset=<0x0 0x0>;
				size=<0x0 0xc00000>;
			};
			logo{
				offset=<0x0 0x0>;
				size=<0x0 0x200000>;
			};
			data{
				offset=<0xffffffff 0xffffffff>;
				size=<0x0 0x0>;
			};
		};
	};
};

&drm_vpu {
	status = "okay";
	logo_addr = "0x0fc00000";
};

&amhdmitx {
	res_1080p = <1>;
	status = "okay";
    /* hdcp ctrl 0: sysctrl, 1: drv, 2: linux app */
	hdcp_ctl_lvl = <1>;
	pxp_mode = <1>;
};

&drm_amcvbsout {
	status = "okay";
};

&vpu {
	clk_level = <6>;
};

//&gpu {
//	tbl =  <&dvfs285_cfg
//		&dvfs400_cfg
//		&dvfs500_cfg
//		&dvfs666_cfg
//		&dvfs800_cfg
//		&dvfs800_cfg>;
//};

&cma_shrinker {
	free = <7680 24288 28528 32600 32768 36624>;
};

/*
 *&drm_subsystem {
 *	fbdev_sizes = <1280 720 1280 1440 32>;
 *};
 */

&amlogic_codec {
	status = "disabled";
	tocodec_inout = <1>;
	tdmout_index = <1>;
};
