config AMLOGIC_DEBUG
	tristate "AMLOGIC kernel debug"
	depends on AMLOGIC_BREAK_GKI
	default n
	help
	  This option is set up for Amlogic kernel debug,
	  Modifying the source code, we will use the AMLOGIC_
	  prefix.If you want to add debug code to the kernel,please
	  use this option switch it.

config AMLOGIC_DEBUG_LOCKUP
	bool "Amlogic Kernel ATrace"
	depends on AMLOGIC_DEBUG
	depends on TRACEPOINTS
	default n
	help
	  Amlogic lockup code compatible with GKI mode,
	  includes isr, sirq, smc, idle check

config AMLOGIC_DEBUG_ATRACE
	bool "Amlogic Kernel ATrace"
	depends on AMLOGIC_DEBUG
	default n
	help
	  Add android atrace compatible function.
	  Support Tags

config AMLOGIC_BOOT_TIME
	bool "AMLOGIC boot time optimi zation"
	depends on AMLOGIC_BREAK_GKI
	default n
	help
	  This option is set up for Amlogic boot time optimization,
	  if you want to optimize boot time, please set this config to y.

config AMLOGIC_DEBUG_PRINTK
	bool "Amlogic printk support"
	depends on AMLOGIC_DEBUG
	default n
	help
	  if you want to print information such as cpu irq,
	  please use this option switch it.

config AMLOGIC_DEBUG_FTRACE_PSTORE
	bool "Amlogic ftrace pstore debug"
	depends on PSTORE_FTRACE
	depends on AMLOGIC_DEBUG_LOCKUP
	default n
	help
	  Dump function call and register access to ramoops after watchdog
	  reboot.
	  Enable if doubt

config AMLOGIC_DEBUG_RELABEL
	bool "Amlogic filp relabel support"
	depends on AMLOGIC_DEBUG
	default n
	help
	  if you want to print information such as cpu irq,
	  please use this option switch it.

config AMLOGIC_DEBUG_RELABEL_GKI
	bool "Amlogic filp relabel gki support"
	default n
	help
	  if build with gki set this config to y,
	  else set this config to n.

config AMLOGIC_DEBUG_FILE
	bool "Amlogic dump log to debug file"
	default n
	help
	  Provide some interfaces for dumping log to debug file

config AMLOGIC_DEBUG_TEST
	bool "Amlogic debug test on init"
	depends on AMLOGIC_DEBUG_LOCKUP
	default n
	help
	  auto test on debug init

config AMLOGIC_HARDLOCKUP_DETECTOR
	bool "Amlogic hardlockup detector support"
	depends on TRACEPOINTS
	default n
	help
	  if you want to hardlockup detector support,
	  please use this option switch it.

config AMLOGIC_HOTPLUG_ARM_CPU0
	bool "Support VTS thermal 1.0 test on arm"
	default n
	help
	  if build with arm set this config to y for vts thermal 1.0 test,
	  set config to n for arm64

config AMLOGIC_DEBUG_UTILS
	tristate "Amlogic debug utils"
	default n
	help
	  add some debug tools
