ifeq ($(USE_LINUX_PCIE), 1)
EXTRA_CFLAGS +=-DgcdIRQ_SHARED
endif
EXTRA_CFLAGS += -DNO_DMA_COHERENT=1
EXTRA_CFLAGS += -DgcdVALID_COMMAND_BUFFER=0


###############################################################################
# without this option compilation 32bit kernel5.15 will fail, this option will
# not check whether there is a break in the (switch... Case) statement. In the
# Kbuild file, this option depends on CONFIG_KASAN equals null. After
# adding this option here, we will get rid of the dependence on (KASAN disable)
###############################################################################
EXTRA_CFLAGS += -Werror -Wno-implicit-fallthrough
