# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

config AMLOGIC_POWER
	tristate "Amloigc power related driver support"
	default n
	help
		this config enables to use amlogic power management driver
		Say y here if you want power related driver(pmu/dvfs) support