# SPDX-License-Identifier: (GPL-2.0+ OR MIT)
#
# SECKEY drivers configuration
#

config AMLOGIC_SECKEY
	tristate "amlogic secure key Support"
	default n
	help
		amlogic keyladder/keytable support
		select y to enable
		select m for module
		select n to disable

config AMLOGIC_SECKEY_KT
	tristate "amlogic Keytable driver"
	depends on AMLOGIC_SECKEY
	default n
	help
		Keytable driver using the H/W keytable.
		This module deposits keys into h/w KeyTable with usage flags.

config AMLOGIC_SECKEY_KL
	tristate "amlogic Keyladder driver"
	depends on AMLOGIC_SECKEY
	default n
	help
		Keyladder driver supporting the ETSI/AML keyladder.
		This module gets KL keys deposited into KeyTable with usage flags.
