#
# cabc aad algorithm configuration
#

config AMLOGIC_AAD_ALGORITHM
	bool "Amlogic AAD Algorithm"
	default n
	depends on AMLOGIC_MEDIA_ENHANCEMENT_VECM
	help
		AAD algorithm
		Configure algorithm for AAD function