#
# blue stretch algorithm configuration
#

config AMLOGIC_COLOR_TUNE_ALGORITHM
	bool "Amlogic Color Tune Algorithm"
	default n
	depends on AMLOGIC_MEDIA_ENHANCEMENT_VECM
	help
		PREGM algorithm
		Configure algorithm for blue stretch function