# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

menu "Amlogic Device Drivers"

source "../common_drivers/drivers/tty/Kconfig"
source "../common_drivers/drivers/clk/Kconfig"
source "../common_drivers/drivers/pinctrl/Kconfig"
source "../common_drivers/drivers/irqchip/Kconfig"
source "../common_drivers/drivers/secmon/Kconfig"
source "../common_drivers/drivers/power/Kconfig"
source "../common_drivers/drivers/cpu_info/Kconfig"
source "../common_drivers/drivers/pm/Kconfig"
source "../common_drivers/drivers/gpio/Kconfig"
source "../common_drivers/drivers/input/Kconfig"
source "../common_drivers/drivers/i2c/Kconfig"
source "../common_drivers/drivers/spi/Kconfig"
source "../common_drivers/drivers/tee/Kconfig"
source "../common_drivers/drivers/gki_tool/Kconfig"
source "../common_drivers/drivers/pwm/Kconfig"
source "../common_drivers/drivers/cpufreq/Kconfig"
source "../common_drivers/drivers/efuse_unifykey/Kconfig"
source "../common_drivers/drivers/mailbox/Kconfig"
source "../common_drivers/drivers/jtag/Kconfig"
source "../common_drivers/drivers/watchdog/Kconfig"
source "../common_drivers/drivers/reg_access/Kconfig"
source "../common_drivers/drivers/iio/Kconfig"

endmenu
