# SPDX-License-Identifier: GPL-2.0-only
#
# Block device driver configuration
#

config AMLOGIC_DM_BOW
	tristate "Backup block device"
	depends on BLK_DEV_DM
	depends on DM_BUFIO
	help
	  This device-mapper target takes a device and keeps a log of all
	  changes using free blocks identified by issuing a trim command.
	  This can then be restored by running a command line utility,
	  or committed by simply replacing the target.

	  If unsure, say N.
