# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

#
# Ambilight configuration
#
menu "Amlogic Ambilight Support"

config AMLOGIC_AMBILIGHT
	bool "Amlogic ambilight support"
	default n
	help
		Say Y here if you want to use the Ambilight.
		Ambilight can provide rgb sum for each zone.

endmenu
