# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

config AMLOGIC_PWM
	tristate "Amlogic PWM Support"
	default n
	depends on COMMON_CLK && HAS_IOMEM
	help
	  amlogic pwm support
	  select y for built-in
	  select m for ko
	  select n for disable
	  This option alone does not add any kernel code.
	  If you say N, all options in this submenu will be
	  skipped and disabled.

config AMLOGIC_PWM_MESON
	bool "Amlogic Meson PWM driver"
	depends on AMLOGIC_PWM
	help
	  The platform driver for Amlogic Meson PWM controller.

config AMLOGIC_PWM_MESON_TEE
	bool "Amlogic Meson PWM TEE driver"
	depends on AMLOGIC_PWM
	help
	  The platform driver for Amlogic Meson PWM TEE controller.

