
config AMLOGIC_LINUX_FBE
	bool "Amlogic's FBE implementation"
	default n
	depends on AMLOGIC_TRUSTED_KEYS && AMLOGIC_TRUSTED_KEYS_TEE
	help
	  This option is for enabling Amlogic's FBE feature. Currently,
	  it only works on trusted-key with tee backend.

config AMLOGIC_LINUX_FBE_RDK
	bool "Customization of Amlogic's FBE for RDK"
	depends on AMLOGIC_LINUX_FBE
	default n
	help
	  This option is for enabling customization of Amlogic's FBE for RDK

config AMLOGIC_TRUSTED_KEYS
	tristate "AMLOGIC TRUSTED_KEYS"
	depends on KEYS
	default n
	help
	  This option provides support for creating, sealing, and unsealing
	  keys in the kernel. Trusted keys are random number symmetric keys,
	  generated and sealed by a trust source selected at kernel boot-time.
	  Userspace will only ever see encrypted blobs.

	  If you are unsure as to whether this is required, answer N.

config AMLOGIC_TRUSTED_KEYS_TEE
	tristate "Amlogic TEE-based trusted keys"
	depends on AML_TEE >= AMLOGIC_TRUSTED_KEYS
	default n
	help
	  Enable use of the Trusted Execution Environment (TEE) as trusted
	  key backend.
