#
# Amlogic driver configuration
#

config AMLOGIC_UART
	tristate "Serial support"
	depends on SERIAL_CORE
	default n
	help
	  Add support for the Amlogic serial port.
	  this config only ctrl in makefile
	  this config do not in meson_uart.c
	  this config add

config AMLOGIC_SERIAL_MESON_CONSOLE
	bool "Console on Amlogic Serial port"
	depends on AMLOGIC_UART
	depends on SERIAL_CORE_CONSOLE
	depends on SERIAL_EARLYCON
	default y
	help
	  Support for running a console on the Amlogic serial
	  this config is only
	  used in meson_uart.c
