#
# cabc aad algorithm configuration
#

config AMLOGIC_CABC_ALGORITHM
	bool "Amlogic CABC Algorithm"
	default n
	depends on AMLOGIC_MEDIA_ENHANCEMENT_VECM
	help
		CABC algorithm
		Configure algorithm for CABC function
