#
# Amlogic multimedia common algorithm configuration
#

menu "Amlogic multimedia algorithm configuration"

config AMLOGIC_COMMON_ALGORITHM
	bool "amlogic Multimedia Common Algorithm Support"
	default n
	help
		Amlogic multimedia common algorithm include:
		cabc
		aad
		pregm
		hdr10_tmo

if AMLOGIC_COMMON_ALGORITHM

source "$(COMMON_DRIVERS_DIR)/drivers/algorithm/common/cabc/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/algorithm/common/aad/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/algorithm/common/pregm/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/algorithm/common/hdr10_tmo/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/algorithm/common/blue_stretch/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/algorithm/common/cuva/Kconfig"
source "$(COMMON_DRIVERS_DIR)/drivers/algorithm/common/color_tune/Kconfig"
endif

endmenu
